@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: linear-gradient(to top, #42FAF2, #30BCE3);
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form{
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

form .buttom{
    background: linear-gradient(to right, #30E3A7, #35FC81);
    width: 100px;
    height: 30px;
    border: 0;
    border-radius: 32px;
    cursor: pointer;
}

form .buttom:hover{
    height: 40px;
    background: linear-gradient(to left, #30E3A7, #35FC81);

}

button{
    background: linear-gradient(to right, #30E3A7, #35FC81);
    width: 150px;
    height: 30px;
    border: 0;
    border-radius: 32px;
    cursor: pointer;

    margin-top: 32px;
}

button:hover{
    height: 40px;
    background: linear-gradient(to left, #30E3A7, #35FC81);
}

