@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: linear-gradient(to top, #42FAF2, #30BCE3);
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main{
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

main .options{
    background: linear-gradient(to bottom, #30BCE3, #359DFC);
    border-radius: 32px;
    border: 0;

    width: 200px;
    height: 200px;
}
